/* Services Section */
.services-section {
  margin-bottom: 80px;
}
.services-section.services-main {
  margin-bottom: 95px;
}
.services-section.services-main .service-content {
  margin-bottom: 90px;
}
.services-section.services-main .service-content .heading {
  margin-bottom: 10px;
}
.services-section.services-main .service-content .content-text p {
  line-height: 28px;
  margin-bottom: 20px;
}
.services-section.services-main .service-content .content-text p:first-child {
  line-height: 30px;
}
.services-section.services-main .technology {
  position: relative;
}
.services-section.services-main .technology:before {
  content: "";
  position: absolute;
  right: 0;
  top: -350px;
  bottom: -100px;
  width: 100%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 63%, rgba(255, 255, 255, 0) 98%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 63%, rgba(255, 255, 255, 0) 98%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 63%, rgba(255, 255, 255, 0) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99ffffff", endColorstr="#00ffffff", GradientType=1);
  opacity: 0.1;
  pointer-events: none;
}
.services-section.services-main .technology .heading {
  margin-bottom: 65px;
}
.services-section .services-include {
  margin-bottom: 15px;
}
.services-section .services-include .heading {
  color: #e29826;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 4.22px;
  margin-bottom: 45px;
}
.services-section .services-include .services-list .item-inner {
  display: inline-block;
  margin-bottom: 45px;
}
.services-section .services-include .services-list .item-inner:hover .icon {
  animation: icon-pulse 0.5s infinite alternate linear;
}
.services-section .services-include .services-list .item-inner .icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 15px;
  transform: scale(1);
}
.services-section .services-include .services-list .item-inner .icon img {
  filter: contrast(0) brightness(10);
  max-width: 100%;
}
@keyframes icon-pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
.services-section .services-include .services-list .item-inner .service-name {
  display: inline-block;
  width: 100%;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
.services-section .service-content {
  padding-left: 40px;
}
.services-section .service-content .heading {
  color: #e6e6e6;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 40px;
}
.services-section .service-content .content-text {
  color: #d1d1d1;
  font-size: 17px;
  line-height: 32px;
  font-weight: 500;
}
.services-section .service-content .content-text p {
  margin-bottom: 35px;
}
.services-section .service-content .content-text p:first-child {
  font-size: 20px;
  line-height: 40px;
}
.services-section .service-content .content-text p:last-child {
  margin-bottom: 0;
}

/* Subset Section */
.subset-services {
  position: relative;
  padding: 100px 0;
  background: no-repeat center/cover;
  margin-bottom: 55px;
}
.subset-services .subset-items .item {
  padding: 0 30px;
}
.subset-services .subset-items .item .item-inner {
  display: inline-block;
  width: 100%;
  padding: 45px 20px;
  position: relative;
  transition: 0.3s;
}
.subset-services .subset-items .item .item-inner:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  border: 2px solid #707070;
}
.subset-services .subset-items .item .item-inner:hover {
  background: rgba(255, 255, 255, 0.07);
}
.subset-services .subset-items .item .item-inner:hover:before {
  right: -5px;
  top: -5px;
  bottom: -5px;
  left: -5px;
  border-color: #808080;
}
.subset-services .subset-items .item .item-inner .icon {
  display: inline-block;
  width: 100%;
  margin-bottom: 35px;
  max-width: 70px;
}
.subset-services .subset-items .item .item-inner .icon img {
  filter: contrast(0) brightness(10);
  max-width: 100%;
}
.subset-services .subset-items .item .item-inner .name {
  display: inline-block;
  width: 100%;
  color: #e6e6e6;
  font-size: 20px;
  font-weight: 900;
}

/*# sourceMappingURL=services.css.map */
