@font-face {
    font-family: 'Lato';
    font-weight: 300;
    src: url('../../../fonts/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('../../../fonts/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('../../../fonts/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: url('../../../fonts/fonts/Lato-Black.ttf') format('truetype');
}