@charset "UTF-8";
.single-case-study {
  padding: 0 90px;
}
.single-case-study .share-section {
  font-size: 28px;
  color: #E19726;
  text-transform: uppercase;
}
.single-case-study .share-section > a {
  margin-left: 10px;
}
.single-case-study .share-section > a svg {
  width: 29px;
  height: 29px;
}
.single-case-study .describePackage {
  font-size: 30px;
  margin-top: 62px;
  margin-bottom: 98px;
}
.single-case-study .packages-w-100 {
  width: 100% !important;
  grid-template-columns: 100% !important;
}
.single-case-study .packages-w-100 .feature-grand-container {
  display: flex;
}
.single-case-study .packages-w-100 .feature-grand-container .feature-container {
  position: relative;
}
.single-case-study .packages-w-100 .feature-grand-container .feature-container p {
  font-size: 28px;
}
.single-case-study .packages {
  display: grid;
  column-gap: 26px;
  margin-bottom: 80px;
  grid-template-columns: repeat(3, calc((100% - 52px) / 3));
}
@media (max-width: 1000px) {
  .single-case-study .packages {
    grid-template-columns: 100%;
  }
}
.single-case-study .packages .case-study-package-item {
  background-color: #171717;
  padding: 40px 23px;
}
@media (max-width: 1000px) {
  .single-case-study .packages .case-study-package-item {
    margin-bottom: 20px;
  }
}
.single-case-study .packages .case-study-package-item > p {
  text-align: center;
}
.single-case-study .packages .case-study-package-item .package-name {
  font-size: 36px;
  color: #fff;
}
.single-case-study .packages .case-study-package-item .package-price {
  color: #E29826;
  font-size: 68px;
  margin-bottom: 20px;
}
.single-case-study .packages .case-study-package-item .package-price > span {
  font-size: 48px;
  display: inline-block;
  transform: translateY(-20px);
}
.single-case-study .packages .case-study-package-item .fullHeight {
  height: auto !important;
}
.single-case-study .packages .case-study-package-item .features {
  list-style: none;
  /* Remove default bullets */
  height: 550px;
  overflow: hidden;
  margin-bottom: 0;
}
.single-case-study .packages .case-study-package-item .features li {
  font-size: 18px;
  line-height: 36px;
  color: #D1D1D1;
  margin-bottom: 16px;
}
.single-case-study .packages .case-study-package-item .features li::before {
  content: "•";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #E29826;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}
.single-case-study .packages .case-study-package-item .overlay {
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}
.single-case-study .packages .case-study-package-item .choose-btn {
  width: 280px;
  height: 54px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
}
.single-case-study .text-section {
  max-width: 1047px;
}
.single-case-study .text-section p {
  font-size: 20px;
  color: #D1D1D1;
  font-family: Lato;
}

.case-study-contact {
  margin-top: 120px;
  margin-bottom: 150px;
}
.case-study-contact .heading-form {
  font-size: 30px;
  color: #E29826;
}
.case-study-contact .desc-form {
  font-size: 25px;
}

/*# sourceMappingURL=case-study.css.map */
