/*
  * Use => Desktop and Large Screen Tablet
  * Sizes => 1920, 1440, 1280, 1024
  * unit => PX
  */
@media (max-width: 1440px) {
  .intro-section:after {
    height: 60px;
  }
}
@media (max-width: 1280px) {
  .intro-section .cover {
    margin: 0 0 -95px;
  }

  .breadcrumb-block {
    margin-bottom: 10px;
  }

  .project-brief .banner-block {
    margin-bottom: 45px;
    padding: 74px 0 100px;
  }
  .project-brief .banner-block .banner-inner .image-banner {
    top: -117px;
    left: -164px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding: 0 40px;
  }

  .page-header .branding {
    margin: 0;
  }
  .page-header .main-navigation {
    display: none;
  }
  .page-header .heading-btn.responsive-menu {
    display: inline-block;
  }

  .intro-section .cover {
    margin: 0 0 -75px;
  }

  .intro-section {
    margin-bottom: 150px;
  }
  .intro-section .content-section .title-heading {
    font-size: 38px;
  }

  .breadcrumb-block {
    margin-bottom: 20px;
  }

  .project-brief:after {
    display: none;
  }
}
/*
  * Use => Tablet Screen
  * Sizes => 991, 767
  * unit => PX
  */
@media (max-width: 991px) {
  .services-section .service-list .item-inner .service-image {
    transform: scale(0.8);
  }

  .intro-section .content-section .title-heading {
    font-size: 26px;
  }

  .statistic-section .text-section h1 {
    font-size: 32px;
    line-height: normal;
  }

  .services-section .services-include .heading {
    text-align: center;
  }

  .portfolio-section.colored-gradient:after {
    display: none;
  }

  .subset-services .subset-items .item {
    padding: 0;
    margin-bottom: 24px;
  }

  .portfolio-section .section-inner .gallery-block .gallery-filter {
    margin-bottom: 20px;
  }
  .portfolio-section .section-inner .gallery-block .gallery-item {
    width: 50%;
  }

  .services-section.services-main .service-content {
    padding-left: 0;
  }

  .brief-form .form-block .radio-input .item-inner {
    margin-bottom: 24px;
  }

  .single-content-section .side-widget {
    padding: 0;
  }

  .general-enquiries:after {
    display: none;
  }
  .general-enquiries .section-inner .section-image {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .page-header .heading-btn {
    display: none;
  }

  .intro-section .section-bg {
    width: 120%;
    right: 20%;
  }
  .intro-section .cover {
    margin: 0 0 -55px;
  }

  .section-galaxy-bg .section-inner .section-title {
    padding: 0;
  }
  .section-galaxy-bg .section-inner .about-us-image {
    margin-bottom: 30px;
  }
  .section-galaxy-bg .section-inner .about-us-text {
    padding: 0;
    text-align: center;
  }

  .statics-col {
    order: 2;
  }

  .statistic-section .text-section {
    margin-bottom: 50px;
  }
  .statistic-section .statistic-item {
    text-align: center;
  }

  .portfolio-section:after {
    display: none;
  }

  .section-galaxy-bg .section-inner .section-title {
    margin-bottom: 58px;
    font-size: 35px;
  }

  .project-brief .banner-block .banner-inner {
    padding: 70px 40px 70px 220px;
  }
  .project-brief .banner-block .banner-inner .title-banner {
    font-size: 35px;
  }
}
/*
  * Use => Mobile Screen
  * Sizes => 540, 414, 375
  * unit => PX
  */
@media (max-width: 540px) {
  .container {
    padding: 0 30px;
  }

  .page-header .heading-btn a {
    padding: 11px 20px;
    font-size: 13px;
  }

  .intro-section .cover {
    margin: 0 0 -25px;
  }

  .footer-page {
    text-align: center;
  }
  .footer-page .footer-nav {
    margin-bottom: 15px;
  }
  .footer-page .footer-nav ul li {
    margin: 0 10px;
  }
  .footer-page .footer-nav ul li:before {
    display: none;
  }
  .footer-page .social-media {
    text-align: center;
  }

  .intro-section {
    margin-bottom: 50px;
  }
  .intro-section .section-bg {
    width: 100%;
    right: 0;
  }
  .intro-section .section-bg:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(32, 32, 32, 0.88);
    z-index: 1;
  }
  .intro-section .section-bg:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100px;
    background: -moz-linear-gradient(top, rgba(32, 32, 32, 0) 0%, #202020 100%);
    background: -webkit-linear-gradient(top, rgba(32, 32, 32, 0) 0%, #202020 100%);
    background: linear-gradient(to bottom, rgba(32, 32, 32, 0) 0%, #202020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00202020", endColorstr="#202020", GradientType=0);
    z-index: 1;
  }
  .intro-section .section-bg .shape {
    opacity: 0;
  }
  .intro-section .content-section {
    position: relative;
    margin-top: -120px;
    top: 0;
  }
  .intro-section .content-section .section-text {
    color: #9ea2a0;
    font-size: 17px;
  }

  .statistic-section .text-section h1 {
    font-size: 28px;
  }
  .statistic-section .statistic-item .value-block {
    margin-top: 15px;
  }
  .statistic-section .statistic-item .value-block .number {
    font-size: 47px;
  }

  .portfolio-section {
    margin-bottom: 65px;
  }

  .section-galaxy-bg.request-section .request-col {
    margin-bottom: 50px;
  }

  .services-section .services-include .heading {
    font-size: 20px;
  }
  .services-section.services-main {
    z-index: 1;
    margin-bottom: 0;
  }

  .project-brief .banner-block {
    padding: 74px 0 40px;
  }
  .project-brief .banner-block .banner-inner {
    padding: 0;
    border: none;
    text-align: center;
  }
  .project-brief .banner-block .banner-inner .image-banner {
    display: none;
  }
  .project-brief .brief-form .section-title {
    margin-bottom: 35px;
  }

  .archive-blog-section .item-inner a .title {
    font-size: 26px;
  }

  .single-content-section .single-content h1 {
    font-size: 32px;
    line-height: 45px;
  }
}
@media (max-width: 425px) {
  .intro-section .cover {
    margin: 0 0 -15px;
  }
  .intro-section .content-section {
    margin-top: -90px;
  }
  .intro-section .content-section .title-heading {
    font-size: 21px;
  }

  .section-galaxy-bg .section-inner .section-title {
    font-size: 32px;
  }

  .google-review .section-inner .google-review-swiper .swiper-slide .item-inner .comment-message {
    font-size: 20px;
  }

  .services-section .service-list .item-inner {
    margin-bottom: 70px;
  }
  .services-section .service-list .item-inner .service-image {
    margin-bottom: 20px;
  }

  .statistic-section .statistic-item .title {
    font-size: 20px;
  }

  .portfolio-section .section-inner .gallery-block .gallery-list {
    margin: -10px;
  }
  .portfolio-section .section-inner .gallery-block .gallery-item {
    width: 100%;
    padding: 10px;
  }

  .general-enquiries {
    margin-bottom: 0;
  }
  .general-enquiries .section-inner .general-enquiries-block {
    padding: 0;
    border: none;
    text-align: center;
  }
  .general-enquiries .section-inner .general-enquiries-block .image-absolute {
    display: none;
  }
}
@media (max-width: 375px) {
  .intro-section .content-section {
    margin-top: -70px;
  }

  .statistic-section {
    margin-bottom: 110px;
  }

  .intro-section .cover {
    margin: 0 0 -5px;
  }

  .section-galaxy-bg .section-inner .section-title {
    font-size: 29px;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=base.css.map */
