@import "../../_sass/mixins";
@import "../../_sass/BaseColor";

.auth-body {
  background: url("../../../images/base/auth-bg.png") no-repeat top center/cover fixed;
  padding: 40px 0;

  &:before {
    content: '';
    position: fixed;
    width: 100%;
    background-image: linear-gradient( rgba(23, 23, 23, 0.12) 0%, #171717 57%, rgba(23, 23, 23, 0.95) 100%);
    height: 50%;
    right: 0;
    bottom: -30px;
    z-index: -1;
    pointer-events: none;
  }

  .branding {
    margin-bottom: 15px;
  }

  .page-title {
    color: #8a8a8a;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px;
  }
}

.auth-form {
  .heading {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 45px;
  }

  .form-link {
    margin-top: 30px;

    .link-item {
      margin-bottom: 10px;

      a {
        color: #cfcfcd;
        font-size: 18px;
        transition: .3s;

        &:hover {
          color: $BaseColor;
        }
      }
    }
  }
}